<div class="cart-container">
  <div class="viewones" *ngFor="let item of cartItems; let i = index">
    <div class="cake">
      <img src="../../assets/{{ item.id }}.jpg" alt="{{ item.title }}" width="100%">
    </div>
    <div class="info">
      <div class="para">
        <p class="title">{{ item.title }}</p>
      </div>
      <div class="details">
        <p class="price">{{ item.price | currency:'USD':'symbol':'1.2-2' }}</p>
        <p class="description">{{ item.description }}</p>
      </div>
    </div>
    <button mat-icon-button class="remove-button" (click)="removeFromCart(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="total-container">
    <div>Total Price: <span class="total-price">${{ totalPrice | number:'1.2-2' }}</span></div>
    <button mat-button class="buy-now-button" (click)="buynow()">Buy Now</button>
  </div>
</div>
